<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>木木的技术博客</h2>
        </header>
        <p>我是陈林林，一名iOS开发程序员。 <strong></strong>
        <br />
        这是我的个人博客，用来记录
        <br />
        学习和工作中的收获</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">READ NOW</a></li>
            </ul>
        </footer>

    </div>

</section>
